<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Issuereport</title>
    <link href="./style.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <form action="#" method="post" th:action="@{/issuereport}" th:object="${issuereport}">
        <h3>Issuereport</h3>
        <input id="email" placeholder="Email" th:field="*{email}" type="text"/>
        <input id="url" placeholder="URL where the issue was found on" th:field="*{url}" type="text"/>
        <textarea id="description" placeholder="Description of the issue" rows="5" th:field="*{description}"></textarea>

        <label for="private_id">
            Private?
            <input id="private_id" name="private" th:field="*{markedAsPrivate}" type="checkbox"/>
        </label>
        <label for="updates_id">
            Keep me posted
            <input id="updates_id" name="updates" th:field="*{updates}" type="checkbox"/>
        </label>

        <input type="submit" value="Submit"/>
    </form>

    <div class="result_message" th:if="${submitted}">
        <h3>Your report has been submitted.</h3>
        <p>Find all issues <a href="/issues">here</a></p>
    </div>
</div>
</body>
</html>